.header-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header-name {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .header-title {
    font-size: 18px;
    color: #555;
  }
  